/**********BODY**********/
body {
    font-family: 'EB Garamond', serif;  
}




/**********HEADER**********/
.header {
    background-color: #40592E;
    color: white;
    font-size: 2.2rem;
}

header i {
    font-size: 9rem;
}

.title {
    color: #40592E;
}


/**********MAIN**********/
.about-her {
    margin: 5vh 5.2vw;
    font-family: 'EB Garamond', serif;   
}

.about-her h1 {
    color: #40592E;
    text-align: center;
    margin-left: 6.5vw;
    margin-right: 6.5vw;
    margin-top: 6vw;
}


.about-her h2 {
    color: #517330;
    text-align: center;
    margin-left: 6.5vw;
    margin-right: 6.5vw;
    margin-top: -6vw;
}

.about-her p {
    margin-top: -5vw;
}

/**********FOOTER**********/
.footer {
    background-color: #40592E;
    color: white;
    font-size: 1.5rem;
    /* height: 8vh; */
}

.footer i {
    padding: 2.2vh 1vw;
    color: white;
}


/**********MEDIA QUERIES**********/
@media only screen and (max-width: 600px) {
    /*****HEADER*****/
    .header {
        background-color: white;
    }


    .navbar-toggler {
        background-color: #40592E;
        margin-left: -5vw;
    }

    .navbar-toggler:focus {
        background-color: #40592E;
    }

    .title {
        margin: 0 13vw;
        font-weight: normal;
    }
    /*****MAIN*****/
    .pic {
        margin: 0 2vw;
    }

    .about-her h1, .about-her h2 {
        margin: 0 2.1vw;
    }

    .about-her h1 {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .about-her p {
        margin-top: 8vw;
    }

     /*****FOOTER*****/
     .footer .ig{
         margin-left: 36vw;
     }

     .footer i {
         padding: 0 2vw;
     }

  }