

/**********MAIN**********/
.about-her {

    /* background-color: red; */
    margin: 5vh 5.2vw;
    font-family: 'EB Garamond', serif;   
}

.about-her h2 {
    color: #40592E;
    text-align: center;
    margin-left: 6.5vw;
    margin-right: 6.5vw;
    margin-top: 10vw;

}


.about-her h3 {
    color: #517330;
    text-align: center;
    margin-left: 6.5vw;
    margin-right: 6.5vw;
}



/**********MEDIA QUERIES**********/


@media only screen and (max-width: 600px) {
    /*****MAIN*****/
    .pic {
        margin: 0;
        height: 100vh;
        width: 100vw;
    }

    .about-her h1, .about-her h2 {
        margin: 0 2.1vw;
    }

    .about-her h1 {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .about-her p {
        margin-top: 8vw;
    }


  }