/**********MAIN**********/
html {
    scroll-behavior: smooth;
   }

.boxes{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: row;
}

img{
    height: 75vh;
    width: 32.1vw;
    transition: .7s ease;
}

img:hover{
    opacity: .5;
}

.overlay{
    display: none;
    margin-top: -20vw;
    text-align: center;
    font-size: 2em;
    font-family: 'EB Garamond', serif;
}

.text{
    display: none;
    text-align: center;
}


#box1:hover .overlay{
    display: block;
}

#box1:hover .text{
    display: block;
}

#box2:hover .overlay{
    display: block;
}

#box2:hover .text{
    display: block;
}

#box3:hover .overlay{
    display: block;
}

#box3:hover .text{
    display: block;
}

#box4:hover .overlay{
    display: block;
}

#box4:hover .text{
    display: block;
}

#box5:hover .overlay{
    display: block;
}

#box5:hover .text{
    display: block;
}

#box6:hover .overlay{
    display: block;
}

#box6:hover .text{
    display: block;
}

#box7:hover .overlay{
    display: block;
}

#box7:hover .text{
    display: block;
}

#box8:hover .overlay{
    display: block;
}

#box8:hover .text{
    display: block;
}

#box9:hover .overlay{
    display: block;
}

#box9:hover .text{
    display: block;
}


.blog{
    font-family: 'EB Garamond', serif;
    text-align: center;
   
    margin-left: 5vw;
    margin-right: 5vw;
}


.blogs {
  background-color: #97A676;
  /* margin-bottom: 4vw; */

  text-align: center;
}



 hr{
     margin: 5vw;
 }

.blog h1{
    color:white;
}




.blog a:hover, .blog a:active{
    text-decoration: none;
  
}

.blog i {
    color: #40592E;
    float: right;
    margin-right: 2vw;
    font-size: 2rem;
    margin-top: -3rem;
  
}

.blog i:hover, .blog i:active {
    color: white;
}

.nav-item a{
    font-size: 2rem;
 }

/**********MEDIA QUERIES**********/
@media only screen and (max-width: 600px)  {

     img{
        width: 69vw;
        height: 77vh;
    }

    .text{ 
        font-size: 1em;

    }

    #box9 {
        margin-bottom: 5rem;
    }
    .overlay{
        display:block;
        color: white;
    }
    img:hover{
        opacity: 1;
    }
  }

