
.navbar{
    position: fixed;
    border: 1px;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96%;
    height: 6%;
    background-color: rgba(0,0,0, 0.3);
}
.navbar li{
    float: right;
    color: black;
    margin: 10px;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: 'Raleway', sans-serif;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover, a:active{
    font-size: 2.5vh; 
}

.myname{
    color: black;
    position: fixed;
    top: -1.5%;
    left: 3%;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
}


body{
    background: url("https://lh3.googleusercontent.com/O4iN-WNDpTcGqj_TBkEjXe5oHJ2glH7lnY84n3H8H1FnvmmKy6zNeagOxFGhFQyPbtzkY9vLYBPrhi0OpFtJ-y1Hp06bFb0rMHJwvYu0EWoh3wyQ65MVG1s6rC6v-tk_2werm1RhzkGO4pdk0X1FDP0mIhg5JuVCki_FkMGyAUvfg7IalcKWdgFXK0-yMMs6Y42af2e58udViXV57te6L5lHWH3kF1lOjHy_ivNbhhC5zZNWbj77i1LV-mCZVww4ndc5Db9nMcyIgMAhxPr20ANwimbZxiWkhEj84lxVnNZBprBW-u26cRzFJIWXAjbDlBJvfcVBRdND9X3937zFprKZViZsHoN2cjkJrTTvyUAsHrBlpWGph2rCrxIcJCPVRTw63DYaauAeDDW6RFfzg7KPntEY5eqDGOaNe4Unk6XV0cS5sm4ZWOvgcekgD8MbStLN4tRBJVWp1jFMu2d52t_ZQeRUlJaK2TPtOy_7-in4hob9iZrYSdAe_Qq42fzdTogXdBkw2tiq32VLI0vKJ8G23E98IPGK1EGZfnxy8_6s1-cSi6p_X9O2QaWij4mHsdkTVIa-sIDqvsTB2kmICWiWxMtXeexxR1Atxd6HM70iKmX28O6EOWggfogq3w-LdRRSWYdJa7mC-FNaFGSLFJLHa5m0bWKI=w1096-h1642-no");
    background-position: 0% 75%;
    

}
.form{
    position: relative;
    text-align: center;
    margin-left: 63%;
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: 'Raleway', sans-serif;
    border: 3px solid white;
    width: 36vw;
    height:110vh;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 3vh;
}

input{
padding: 0vh;
width: 20vw;
height: 6vh;
text-align: center;
}

/* #button{
    height: 2vh;
}
#message{
    height: 10vh;
}

#cTitle{
    position: relative;
    text-align: center;
    margin-top: -30%;
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
} */


footer{
    background-color: black;  
    background-size: cover;
    position: absolute;
    margin-bottom: 0;
    left:0;
    width: 100%;
    height: 22vh;
}

 #facebook{
    width: 60px;
    position: absolute;
    left: 37%;
    top: 36%;
}

#linkedin{
    width: 70px;
    position: absolute;
    left: 48%;
    top: 154%; 
}

img#linkedin{
    margin-top: -26vh;
}

#twitter{
    width: 70px;
    position: absolute;
    left: 61%;
    top: 36%;
}
#footertext{
    color:white;
    text-align:center;
    position: absolute;
    left: 40%;
    top: 0;
    margin: 0;
    font-size: 45px;
    font-family: 'Marck Script', cursive;
}
footer p{
    color: white;
    display: inline-block;
    position: absolute;
    left: 41%;
    bottom: 0;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
}

@media (min-width: 601px){
    .navbar{
        position: fixed;
        border: 1px;
        top: 1%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 96%;
        height: 6%;
        background-color: rgba(0,0,0, 0.3);
    }
    #hamburger_container {
        display: none;
    }
}

@media (max-width: 600px){
    .navbar {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 30vw;
        top: 30vh;
    }
    #hamburger_container {
        position: absolute;
        top: 0;
        right: 0;
    }
    #hamburger {
        width: 10vw;
        background-color: white;
    }
    footer{
        display: none;
    }

    .navbar a{
       font-size: 10px;
    }
}
