/**********BODY**********/
body {
    font-family: 'EB Garamond', serif;  
}






/**********HEADER**********/
.header {
    background-color: #40592E;
    color: white;
    font-size: 2.2rem;
}

header i {
    font-size: 9rem;
}

.title {
    color: #40592E;
}







/**********MAIN**********/
.pic {
    background-image: url(yellowhousefinal.jpeg);
    height: 90vh;
    color: white;
    background-position: top;
    font-size: 3rem;
}

.text {
    /* background-color: tomato; */
    text-align: center;
    width: 40vw;
    height: 45vh;
    margin-left:30vw;
    margin-right: 30vw;
    margin-top: 40vh;
    
}

.text a {
    color: white;
}

.text a:hover, .text a:active {
    color: #40592E;
}

.text h1 {
    font-size: 3.5rem;
}

.text p {
    font-size: 2.3rem;
} 


/**********MESSAGE**********/
.first {
 
    margin-left: 6vw

}

.second {

    margin-left: 6vw
}

/**********FOOTER**********/
.footer {
    background-color: #40592E;
    color: white;
    font-size: 1.5rem;

}

.footer i {
    padding: 2.2vh 1vw;
    color: white;
}



/**********MEDIA QUERIES**********/
@media only screen and (max-width: 600px) {
    /*****HEADER*****/
    .header {
        background-color: white;
    }


    .navbar-toggler {
        background-color: #40592E;
        margin-left: -5vw;
    }

    .navbar-toggler:focus {
        background-color: #40592E;
    }

    .title {
        margin: 0 13vw;
        font-weight: normal;
    }


    .text {
        width: 100vw;
        margin-left:0;
        margin-right:0;
    }
     /*****MAIN*****/

    .first, .second {
        margin: 0;
    }

    .first, .second {
        margin-top: 3vw;
    }

     /*****FOOTER*****/
     .footer .ig{
         margin-left: 36vw;
     }

     .footer i {
         padding: 0 2vw;
     }

  }